html,body{
	background-image:url("../pics/background.jpg");
    background-size: 100% 1000px;
/*    background-repeat: no-repeat;*/
}

#main{
    width: 961px;
    margin: 0 auto;
}

/*nav bar*/
#main #nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background: linear-gradient(#1E2027,black);
    background-color: black;
	border: 1px solid black;
}

#main #nav ul li {
    float: left;
}

#main #nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	border-right: 1px solid white;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
}

#main #nav ul li a:hover {
    color: #891016;
	transition: 1s;
}

#main #nav ul li:last-child{
    border:none;
}

/*content1 area*/
#main #content1{
	margin-top: 10px;
    background-image: url("../pics/hero.jpg");
    background-size: 100% 100%;
    background-repeat:no-repeat;
    padding-top: 450px;
    padding-bottom: 10px;
}

#content-bar{
	width:100%;
	margin: 0 auto;
	border: 1px solid red;
}

#content-bar .col-md-4 .row{
	background-color:black;
	padding: 10px;
}

#content-bar .col-md-4 .row:hover{
	background-color:#241f1f;
}

#content-bar .col-md-4 .row .col-md-5, .col-md-7{
	line-height:1;
	padding:0;
}

#content-bar .col-md-4 .row .col-md-7{
	padding-left:10px;
}

#content-bar .content-bar-item-text{
	color:white;
	font-size:12px;
}

#content-bar .content-bar-item-title{
	color:red;
	margin-bottom:5px;
}

#content-bar .col-md-4 .row .col-md-6 .img-responsive{
	border: 1px solid red;
}